<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type">{{localize "MTA.FormAbility"}}</h4>
        <span class="item-status"></span>
      </div>
      <ul class="summary">
        <li>
          <label>Weapon</label>
          <label class="checkBox">
            <input data-dtype="Boolean" name="system.isWeapon" type="checkbox" {{checked system.isWeapon}}>
            <span></span>
          </label>
        </li>
        <li>
          <label>Active</label>
            <label class="checkBox">
            <input data-dtype="Boolean" name="system.effectsActive" type="checkbox" {{checked system.effectsActive}}>
            <span></span>
          </label>
        </li>
      </ul>
    </div>
  </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">    
      <a class="item" data-tab="description">Description</a>
      <a class="item" data-tab="effects">Effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
          {{#if system.isWeapon}}
            <div class="item-stat-block">
              <div class="form-line">
                <label>Damage</label> <input name="system.damage" type="number" data-dtype="Number" value="{{system.damage}}" />
              </div>
              <div class="form-line">
                <label>Penetration</label> <input name="system.penetration" type="number" data-dtype="Number" value="{{system.penetration}}" />
              </div>
            </div>
          {{/if}}
          {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
      
        {{!-- Effects Tab --}}
        <div class="tab" data-tab="effects">
          <div class="item-stat-block">
    
            <div class="form-line attributeList">
              <label> Effects </label>
              <span class="stoneButton effectAdd">+</span>
              {{#each system.effects}}
              <span>
                <select name="system.effects.{{@index}}.name">
                  {{#select name}}
                  <optgroup label="Attributes">
                    {{#each ../config.attributes_physical}}
                    <option value="attributes_physical.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.attributes_social}}
                    <option value="attributes_social.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.attributes_mental}}
                    <option value="attributes_mental.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  <optgroup label="Skills">
                    {{#each ../config.skills_physical}}
                    <option value="skills_physical.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.skills_social}}
                    <option value="skills_social.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.skills_mental}}
                    <option value="skills_mental.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  <optgroup label="Traits">
                    {{#each ../config.derivedTraits}}
                    <option value="derivedTraits.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  {{/select}}
                </select>
                <input name="system.effects.{{@index}}.value" type="number" data-dtype="Number" value="{{value}}" />
                <label class="checkBox overFive" title="Can increase traits above five (or splat-specific power trait maximum)?">
                  <input data-dtype="Boolean" name="system.effects.{{@index}}.overFive" type="checkbox" {{checked overFive}}>
                  <span></span>
                </label>
              </span>
              <span class="stoneButton effectRemove" data-index={{@index}}>-</span>
              {{/each}}
            </div>
            <div class="form-line attributeList">
              <label> Dice Pool </label> 
              <span class="stoneButton dicePoolAdd">+</span>
              {{#each system.dicePool.attributes}} 
              <select name="system.dicePool.attributes.{{@index}}">
                  {{#select this}}
                    {{#if ../potentialAttributes}}
                    <optgroup label="{{../potentialAttributesName}}">
                      {{#each ../potentialAttributes}}
                        {{#each entries}}
                          <option value="{{../name}}.{{this.[0]}}">{{this.[1]}}</option>
                        {{/each}}
                      {{/each}}
                    </optgroup>
                    {{/if}}
                    <optgroup label="Attributes">
                      {{#each ../config.attributes_physical}}
                        <option value="attributes_physical.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.attributes_social}}
                        <option value="attributes_social.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.attributes_mental}}
                        <option value="attributes_mental.{{@key}}">{{this}}</option>
                      {{/each}}
                    </optgroup>
                    <optgroup label="Skills">
                      {{#each ../config.skills_physical}}
                        <option value="skills_physical.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.skills_social}}
                        <option value="skills_social.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.skills_mental}}
                        <option value="skills_mental.{{@key}}">{{this}}</option>
                      {{/each}}
                    </optgroup>
                    <optgroup label="Traits">
                      {{#each ../config.derivedTraits}}
                        <option value="derivedTraits.{{@key}}">{{this}}</option>
                      {{/each}}
                    </optgroup>
                  {{/select}}
                </select>
              <span class="stoneButton dicePoolRemove" data-index={{@index}}>-</span>
              {{/each}}
              <span>
                + <input name="system.dicePool.value" type="number" data-dtype="Number" placeholder=0 value="{{system.dicePool.value}}" />
              </span>
            </div>
          </div>
        </div>
    </section>
</form>